.welcome {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}
.txt-dash-info {
  span {
    color: blue;
    font-style: italic;
  }
}
.txt-dash-resa {
  span {
    color: blue;
    font-style: italic;
    font-size: 20px;
  }
}
