// Specific CSS for your home-page
.carousel-caption h1 {
  font-family: 'Great Vibes', cursive;
}

.card-homepage h4{
  font-family: 'Roboto', sans-serif;
}

.custom-carousel-main {
  position: absolute;
  top: 70px;
  left: 25px;
  text-align: left;
}

.custom-carousel-text {
  position: absolute;
  top: 60px;
  left: 25px;
  text-align: left;
}

.text-main {
  border: dotted 1px lightgrey;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.btn {
  color: black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bolder;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: #F4F4F4;
}
