// .product-name {
//   font-size: 28px;
//   font-weight: 500;
//   text-align: left;
// }

// .product-description {
// margin-top: 10px;
// }

// .product-description p {
//   text-align: left;
//   font-weight: lighter;
// }

// .product-description h4 {
// font-size: 13px;
// font-weight: 400;
// }

.product-container {
  flex-grow: 1;
}

.product-and-reservation {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}

.reservations {
  padding: 24px;
  margin-left: 15px;
  border: 1px solid rgba(255, 165, 0, .5);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.owner {
  text-align: left;
}

#owner-id {
  font-weight: 600;
}

.reservations-container {
  padding-left: 50px;
  position: sticky;
}

.card-product-show {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}

.card-product-show img {
  height: 100%;
  width: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.card-product-show h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}

.card-product-show p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  display: flex;
}

.card-product-show .card-product-infos-show {
  padding: 16px;
  font-size: 18px;
}

.card-product-show .card-product-infos-show p {
font-size: 18px;
}

.btn-show {
  text-align: center;
}

.capacity {
  display: flex;
  align-items: baseline;
}

.price {
  display: flex;
  align-items: baseline;
}

#euros {
  font-size: 20px;
}

.address {
  display: flex;
  align-items: baseline;
}

.date {
  display: flex;
  align-items: baseline;
}

.user-show {
  display: flex;
  align-items: baseline;
}

.type {
  display: flex;
  align-items: baseline;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

.reservation-button {
  color: black;
  padding: 8px 100px;
  border-radius: 12px;
  font-weight: bolder;
  font-size: 25px;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: #F4F4F4;
  border-color: #FFA500;
  border: 1px solid #FFA500 !important;
}

.reservation-button:hover {
  background-color: #FFA500;
}

.form-control[readonly] {
  background-color: #E7E6E0;
}

a {
  color: #FFA500;
  padding-top: 8px;
}

.button-search {
  color: black;
  padding: 6px 8px;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
  background-color: #F4F4F4;
  border-color: #FFA500;
  position: relative;
  top: 20px;
}

.button-search:hover {
  color: black;
  background-color: rgb(255, 185, 0);
  text-decoration: none;

}
