<h1>This is the index</h1>

<div class="container">
  <div class="cards">
    <% @devices.each do |device| %>
      <%= link_to device_path(device) do %>
        <div class="cards-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600Xx900/?cheese);">
          <p>device</p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
