<h1>Appareils à raclettes </h1>

<div class="container">
  <ul class="articles">
    <% @devices.each do |device| %>
      <li> <%= link_to device_path(device) do %>
        <div class="card-container">
        <div class="card-product">
          <img src="https://source.unsplash.com/500x500/?cheese" />
          <div class="card-product-infos">
            <%= device.name %>
            <p>Description produit </p>
            <p> <strong>Capacité</strong></p>
          </div>
        </div>
        </div>
        </li>
      <% end %>
    <% end %>
    </ul>
</div>

