<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/grambetta/racleat"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    We love <i class="fas fa-cheese"></i></i>
  </div>
</div>
