<h1> This is the dashboard</h1>
<p> you can put here the user information</p>
<p>Display the user reservations others raclette device</p>
<p>Display the reservations for his raclette device if there is some</p>
<p>for each reservation, add buttons to modify the reservation</p>
<p> The user can only delete a reservation for his own raclette device that is booked by another user</p>
