<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600Xx900/?cheese);">
  <%= device.name %>
</div>
