<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/8EfaUXB8qw4/1900x1200);">
  <div class="container">
    <h1>Racleat !</h1>
    <h2><span id="banner-typed-text"></span></h2>
    <br>
    <br>
    <h5><em> Louez un appareil près de chez vous et profitez-en avec votre entourage!</em></h5>
    <br>
    <h5><em> Tentez l'expérience et retrouver des appareils de choix et de qualité proposés par des particuliers</em></h5>
    <br>
    <br>
    <br>
    <br>
    <div class="btn-homepage">
      <%=link_to "Say cheese 🧀", devices_path, class: "btn btn-outline" %>
    </div>
  </div>
</div>
