// **** HOMEPAGE CARDS*******

.cards-main {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 50px;
}


.card-homepage {
  width: 300px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  box-shadow: 3px 3px 0px 0px rgb(194, 185, 182);
  background: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// *** INDEX PAGES ***

.card-product {
  overflow: hidden;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.card-product img {
  height: 100%;
  width: 450px;
  object-fit: cover;
  border-radius: 3px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

// *** DASHBOARD PAGE ***

.card-dashboard {
  width: 300px;
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  box-shadow: 3px 3px 0px 0px rgb(194, 185, 182);
  background: white;
}


.card-product-dashboard {
  overflow: hidden;
  height: 305px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.card-product-dashboard img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-product-dashboard h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}


.card-product .card-product-dashboard-infos {
  padding: 16px;
}
