.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#racleat {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.logo-name {
  display: flex;
  align-items: center;
}

#navbarDropdown {
  opacity: 0.4;
}
